@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #262626;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Global utility classes only */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}