@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --carrot-orange: #ff8b02;
    --milk-white: #ffffff;
    --heavy-metal: #262626;

    /* Typography */
    --font-family: var(--font-lexend);
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-light: 300;

    /* Font Sizes */
    --font-size-body: 16px;
    --font-size-primary-heading: 40px;
    --font-size-placeholder: 16px;
    --font-size-label: 16px;
    --font-size-button: 16px;
    --font-size-tooltip: 16px;
    --font-size-secondary-heading: 20px;
    --font-size-call-to-action: 16px;
    --font-size-caption: 12px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
  }

  body {
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    color: var(--heavy-metal);
    background-color: var(--milk-white);
  }

  button {
    font-family: var(--font-family);
  }

  h1 {
    font-size: var(--font-size-primary-heading);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
  }

  h2 {
    font-size: var(--font-size-secondary-heading);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
  }

  h3 {
    font-family: var(--font-family);
  }
  p {
    font-family: var(--font-family);
  }

  span {
    font-family: var(--font-family);
  }

  button {
    font-size: var(--font-size-button);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
  }

  input::placeholder {
    font-size: var(--font-size-placeholder);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
  }

  label {
    font-size: var(--font-size-label);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
  }

  .caption {
    font-size: var(--font-size-caption);
    font-family: var(--font-family);
    font-weight: var(--font-weight-light);
  }

  .call-to-action {
    font-size: var(--font-size-call-to-action);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
  }
}

no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}